div#azul {
    background-color: skyblue;
}
div#vermelho {
    background-color: red;
}

div {
    width: 1000px
}
#verde {
    background-color: green;
}

#cinza {
    background-color: gray;
}

#amarelo {
    background-color: yellow;
}

#laranja {
    background-color: orange
}

.pequeno {
    width: 300px
}

.medio {
    width: 500px
    
}

.grande {
    width: 700px
}

.pequeno, .grande {
    border: black 3px solid;
}

p {
    font-weight: bold;
}

#menu a {
    padding: 20px;
    height: 50px;    
    line-height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    display:inline-block;
    text-decoration: none
}

#menu a;rover {
    text-decoration: underline;
    
}